  <%= render "header" -%>

  <div class='promo-banner'>

  		<div class='banner-content'>
  			<strong>Hosting opens up a world of opportunity</strong>
  			<p>Earn money sharing your extra space with travelers.</p>
  		</div>

  		<div class='banner-video'>
  			<video width="320" height="240" controls>
  				<source src="https://player.vimeo.com/video/32482687" type="video/mp4">
				Your browser does not support the video tag.
			</video>
  		</div>
  	
  </div>



  