  <%= render "header" -%>
  
<div class='banner'>
    
    <div class='background'>
      <img src="" alt=''>
    </div>

    <div class='banner-content'>
      <div class='banner-content-text'>
        <h1 id='h1-home'> welcome home</h1>
        <p class='sutia'> Rent unique places to stay from local hosts in 190+ countries. </p>
        <input type="submit" placeholder="How It works" class='bttn-h1'>
      </div>
      <div class='search-box'>      
        <form>
          <input class='where' type="text" placeholder="Where do you want to go?">
          <input class='chekinout' type="text" placeholder="Chek-in">
          <input class='chekinout'type="text" placeholder="Check-out">
          <input class='guest'type="text" placeholder="Guest">
          <input type="submit">
        </form>
      </div>
    </div>  
</div>


  

  <div class='promo-banner'>

  		<div class='banner-content'>
  			<strong>Hosting opens up a world of opportunity</strong>
  			<p>Earn money sharing your extra space with travelers.</p>
  		</div>

  		<div class='banner-video'>
  			<video width="320" height="240" controls>
  				<source src="https://player.vimeo.com/video/32482687" type="video/mp4">
				Your browser does not support the video tag.
			</video>
  		</div>
  	
  </div>

  <div class='weekend'>
        <h2>Só neste fim de semana</h2>
        <p>Descubra lugares novos e inspiradores, pertinho da sua casa.</p>  

        <div class='img-hightlight'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <h2>Salvador</h2>
        </div>  

         <div class='img-hightlight'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <h2>Rio de Janeiro</h2>
        </div>  

         <div class='img-hightlight'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <h2>São Paulo</h2>
        </div>  

        <button type="button"> Ver todos os destinos</button>

  </div>

<div class='discover'>

  <h2>Explore o mundo</h2>
  <p>Veja para onde as pessoas estão viajando pelo mundo afora.</p>  
 
    <div class='img-hightlight'>
     <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
      <h2>Paris</h2>
    </div>  

     <div class='img-hightlight info'>
     <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
      <h2>Paris</h2>
      <div class='profile-info'>
        <img src="">
        <h3>Casa de Julian</h3>
        <p>Galapagar</p>
        <div class='price'> 
          <p>300</p>
        </div>
      </div>
    </div>  

    <div class='img-hightlight'>
     <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
      <h2>Nova Yorke</h2>
    </div> 

    <div class='img-hightlight'>
     <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
      <h2>Santiago</h2>
    </div> 

    <div class='img-hightlight'>
     <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
      <h2>Curta um passeio em Lisboa</h2>
    </div> 

    <div class='banner'>
      <img src="" alt=''>
      <h1> </h1>
      <p class='sutia'> </p>
      <a href=""> </a>
    </div>


<div class='comunity'>
        <h2>Nossa Comunidade</h2>

        <div class='img-comunity'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <h2>Torne o Airbnb seu</h2>
          <p>Crie o seu simbolo conte sua história</p>
        </div>  

        <div class='img-comunity'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <div class='tag'>
            <p>Viajando</p>
          </div>
          <h2>Torne o Airbnb seu</h2>
          <p>Crie o seu simbolo conte sua história</p>
          <a href=""></a>
        </div>  

        <div class='img-comunity'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <div class='tag'>
            <p>Viajando</p>
          </div>
          <h2>Torne o Airbnb seu</h2>
          <p>Crie o seu simbolo conte sua história</p>
          <a href=""></a>
        </div> 

        <div class='img-comunity'>
          <img src="https://a2.muscache.com/ic/discover/2978?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=9426f2&downsize=675px:675px">
          <div class='tag'>
            <p>Viajando</p>
          </div>
          <h2>Torne o Airbnb seu</h2>
          <p>Crie o seu simbolo conte sua história</p>
          <a href=""></a>
        </div>          

    </div>
  </div>

<%= render "footer" -%>


  