header {
	/*@include outer-container(100%);*/
	position: absolute;
	/*z-index: 1000;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.logo {
	width: rem(100px);
	float: left;
}

nav {
	float: right;
	margin-top: rem(26px);
	margin-right: rem(18px);
}

nav a:first-child {	
    border: 2px solid #fff;
    border-radius: rem(4px);
    padding: 6px 6px;
}

.banner {
    @include row();
}

.background {
	background-image: url("maracaipe.jpg");
    background-size: cover;
    height: rem(550px);
    z-index: -1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;
}

.banner-content {
    height: rem(550px);
}

/*.banner-content-text {
	height: rem(300px);
}*/

nav a {
	color: #fff;
	margin-left: rem(10px);
}

#h1-home {	
	@include span-columns(6);
	@include shift(4);
	margin-top: rem(200px);
	margin-bottom: 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
}

.sutia {
	@include span-columns(6);
	@include shift(4);
	color: #fff;
}

.bttn-h1 {
	@include span-columns(2);
	@include shift(5);
	background-color: rgba(255,255,255,0.4);
	&:hover {
		background-color: rgba(0,0,0,0.4);
	}
}

.banner-content-text {
	height: 82%;
}



.testelouco {
	@include outer-container;
}

.search-box {
	
	/*background-color: rgba(0,0,0,0.6);
	height: 100px;
	margin-top: 150px;
	position: relative;
	padding-bottom: 30px;
	padding-top: 30px;*/
	height: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(0,0,0,0.6);
}


form {
	@include span-columns(10);
	@include shift(1);
	display: inline-flex;
}


form input {
	float: center;
    height: 40px;
    box-shadow: none;

}

.where {
	width: 300px;
}

where {
	
	width: 230px;
}


/*.chekinout {
	@include span-columns(1);
	width: 90px;
}*/

/*.guest {
	@include span-columns(1);
	width: 90px;

}*/