<footer>
	<select>
	  <option value="pt">Português</option>
	  <option value="en">Español</option>
	  <option value="es">English</option>
	</select>

	<select>
	  <option value="real">Real</option>
	  <option value="euro">Euro</option>
	  <option value="dolar">Dólar</option>
	</select>
	
	<h4>A Empresa</h4>
	<ul>
		<li><a href="">Sobre</a></li>
		<li><a href="">Carreira</a></li>
		<li><a href="">Imprensa</a></li>
	</ul>

	<h4>Descubra</h4>
	<ul>
		<li><a href="">Sobre</a></li>
		<li><a href="">Carreira</a></li>
		<li><a href="">Imprensa</a></li>
	</ul>

	<h4>Hospedando</h4>
	<ul>
		<li><a href="">Sobre</a></li>
		<li><a href="">Carreira</a></li>
		<li><a href="">Imprensa</a></li>
	</ul>

</footer>