<header>
	<div class='logo'>
		<a href="/">
			<img src="https://a2.muscache.com/airbnb/static/about/resources/airbnb-logo-293-5b1924f36d180a53fdca602da3e5bc6c.png" alt="logo">
		</a>
	</div>

	<nav>
		<a href="">Become a Host</a>
		<a href="">Help</a>
		<a href="">Sign Up</a>
		<a href="">Login</a>
	</nav>
	
	<div class='banner'>
		<img src="" alt=''>
		<h1> </h1>
		<p class='sutia'> </p>
		<a href=""> </a>

	</div>


	<div class='search-box'>			
		<form>
			<input type="text" placeholder="Where do you want to go?">
			<input type="text" placeholder="Chek-in">
			<input type="text" placeholder="Check-out">
			<input type="text" placeholder="Guest">
			<input type="submit">
		</form>
	
	</div>

</header>