<header>
	<div class='logo'>
		<a href="/">
			<img src="https://a2.muscache.com/airbnb/static/about/resources/airbnb-logo-293-5b1924f36d180a53fdca602da3e5bc6c.png" alt="logo">
		</a>
	</div>

	<nav>
		<a href="">Become a Host</a>
		<a href="">Help</a>
		<a href="">Sign Up</a>
		<a href="">Login</a>
	</nav>
	
	

</header>